{# NB: This file is a "jinja2 template", but can mostly be edited like HTML #}
{% extends "base.html" %}
{% block head %}
{{ super() }}
<style type="text/css">
/* Comment this out until it's actually needed
@font-face {
  font-family: 'Source Code Pro';
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url('/theme/source-code-pro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/theme/source-code-pro/SourceCodePro-Regular.otf')  format('opentype'),
    url('/theme/source-code-pro/SourceCodePro-Regular.woff') format('woff'),
    url('/theme/source-code-pro/SourceCodePro-Regular.ttf')  format('truetype'),
    url('/theme/source-code-pro/SourceCodePro-Regular.svg#SourceCodePro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'Crimson Text';
  src: local('Crimson Text'), local('CrimsonText-Roman'),
       url('/theme/crimson/CrimsonText-Roman.eot?#iefix') format('embedded-opentype'),
       url('/theme/crimson/CrimsonText-Roman.woff') format('woff'),
       url('/theme/crimson/CrimsonText-Roman.ttf')  format('truetype'),
       url('/theme/crimson/CrimsonText-Roman.svg#CrimsonText-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
    url('/theme/open-sans/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('/theme/open-sans/OpenSans.woff') format('woff'),
    url('/theme/open-sans/OpenSans.ttf')  format('truetype'),
    url('/theme/open-sans/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
    font-size: 16pt;
    line-height: 125%;
    font-family: "Crimson Text", serif;
}
.frame {
    position: absolute;
    left: 50%;
    margin-top: 2em;
    margin-left: -320px;
    width: 640px;
}
.header h1 {
    font-family: "Open Sans", "Helvetica", sans-serif;
    font-size: 2em;
    text-align: center;
}
.header h1 img {
    margin-bottom: -0.70em;
}
.links {
    margin-top: 3em;
    text-align: center;
    font-family: "Open Sans", "Helvetica", sans-serif;
}
a {
    text-decoration: none;
}
.textbody {
    margin-top: 3em;
    margin-bottom: 2em;
}
sub, sup {
	font-size: 50%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.75em;
}
sub {
	bottom: -0.25em;
}

</style>
{% endblock %}
{% block content %}
<div class="frame">
<div class="header">
<h1>
<img src="/static/images/rambutan_poor_200px.png" alt="rambutan photo" width="80">
rambutan
</h1>
</div>

<div class="links">
<a href="http://rambutan.cc">home</a> | <a href="http://docs.rambutan.cc">documentation</a> | <a href="http://forums.rambutan.cc">forums</a> | <a href="http://github.com/rambutan32">repositories</a>
</div>

<div class="textbody">
<p>
Rambutan is a volunteer-run open embedded engineering project to make development with the
<a href="https://en.wikipedia.org/wiki/STM32">STM32</a> family of ARM
Cortex-M3/M4 microcontrollers more enjoyable. It started<sup><a href="#foot0">[0]</a></sup>
as a continuation of <a href="http://leaflabs.com">Leaflab's</a>
"Maple" open hardware development board product line, and in particular the
libmaple C library written for that hardware.
</p>

<p>
Development and planning are still in early stages. Jump in
<a href="http://forums.rambutan.cc">the forums</a> to take part, or watch this
space for future updates!
</p>

<p style="margin-top: 3em; margin-left: 1em; font-size: 80%;">
<a id="foot0"></a>
<b>[0]: </b><em>well, more like "is starting", as of September 2014</em>
</p>

</div>

</div>
{% endblock content %}
