
@font-face {
  font-family: 'CrimsonText-Roman';
  src: url('CrimsonText-Roman.eot?#iefix') format('embedded-opentype'),  url('CrimsonText-Roman.woff') format('woff'), url('CrimsonText-Roman.ttf')  format('truetype'), url('CrimsonText-Roman.svg#CrimsonText-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
